<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NY</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>

<body>

  <div class="container text-center jumbotron">
    <h1>New York Tourist</h1>
    <p><br></p>
    <p><a class="btn btn-primary btn-lg" href="/call" role="button">Get tomorrow's weather!</a></p>
    </div>
    <div class="container">
      <div class="row bg-light">
      <h5>Temperature for New York ({{ news_info.date}}): Min: {{ news_info.min_temp}}&#8457; , Max: {{ news_info.max_temp}}&#8457;</h5>
      <p>Will it rain over the next few days? {{ news_info.rain_variable }}. How about snow? {{ news_info.snow_variable }}.
        <br>See below for more info on historical weather data, or <a href="https://firedynasty.github.io/second_project/tenth_step_plus_airbnb/" target="_blank">click here</a> to view things to do in NY.
      </p>
      
      </div>

      <div class="row">
      <canvas id="lineChart" height="444" width="800"></canvas>
      <img src="/static/images/michael-discenza-5omwAMDxmkU-unsplash.jpg" alt="Beer" style="width:100%">
      <p>Image from Unsplash, Michael Discenza</p>
      
  </div>


  </div>
  
    </div>
  </div>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <!--CHART JS-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
 <!-- D3 JS -->
 <script src="https://d3js.org/d3.v5.min.js"></script> 
 <!-- JS -->
 <script type="text/javascript" src="static/js/logic.js"></script>

</body>

</html>